*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #17408c;
  overflow-x: hidden;
}

.toggleOverflow {
  overflow: hidden !important;
  max-height: 100vh;
}

.wrapper-title {
  margin: 1rem 0;
  text-align: center;
}

.wrapper-title h1 {
  font-family: "Koulen", sans-serif;
  font-size: clamp(1.5rem, 7vw, 3rem);
  line-height: 1.2;
  color: #FFFDFA;
}

.wrapper-title p {
  font-family: "Lato", sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

#watermark {
  color: #FFFDFA;
  right: 50%;
  font-family: "Lato", sans-serif;
  text-align: center;
}

#watermark a {
  color: #FFFDFA;
  opacity: 0.5;
}

#watermark a:hover {
  opacity: 1;
  text-decoration: none;
}

#watermark p {
  margin: 0.5rem 0;
}

#playerCard {
  width: 350px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 2rem;
  overflow: hidden;
  background: #FFFDFA;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  font-family: "Koulen", sans-serif;
  z-index: 2;
}

#playerCard:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.playerCard_name_pos, .playerCard_ht_wt {
  margin: 0.5rem 1rem;
}

.playerCard_ht_wt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#playerCard_team {
  margin: 0.5rem 1rem;
}

#playerCard_btn {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 1px solid transparent;
  color: #17408c;
  border-top: 1px solid rgba(51, 51, 51, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

#playerCard_btn:hover {
  background: #17408c;
  color: #FFFDFA;
  border: 1px solid transparent;
}

.sub-title {
  color: #17408c;
}

.cards {
  width: 95%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 5rem 0;
}

#form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#input {
  width: 250px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  border: 1px solid #FFFDFA;
  font-family: "Lato", sans-serif;
  font-size: 1em;
}

#btnSearch {
  width: 100px;
  height: 37px;
  margin-left: 0.5rem;
  background: #FFFDFA;
  border: 1px solid #FFFDFA;
  color: #17408c;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 900;
}

#btnSearch:hover {
  background: transparent;
  color: #FFFDFA;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 4;
  top: 0;
  left: 0;
  display: none;
}

.table-wrapper {
  background-color: #FFFDFA;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
  max-width: 80vw;
  margin: 0 1rem;
}

.table-wrapper h4 {
  margin: 1rem;
  font-family: "Lato", sans-serif;
}

.table-wrapper::after {
  content: "SEASON AVERAGE";
  color: #17408c;
  font-family: "Lato", sans-serif;
  border: 1px solid #FFFDFA;
  padding: 0.2rem;
  background-color: #FFFDFA;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-98%);
          transform: translateY(-98%);
  display: none;
}

#table {
  text-align: center;
  margin: 0 1rem 1rem;
}

#table th {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  color: #17408c;
}

#table td {
  font-family: "Lato", sans-serif;
}

#table th, #table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

#table th:first-child, #table td:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.x-icon {
  position: absolute;
  cursor: pointer;
  background: #FFFDFA;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 2rem;
  right: 2rem;
  border: 1px solid #FFFDFA;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.x-icon .fa-xmark {
  color: #17408c;
  font-size: 2.2rem;
}

.x-icon:hover {
  background: #17408c;
}

.x-icon:hover .fa-xmark {
  color: #FFFDFA;
}
/*# sourceMappingURL=index.css.map */